<div class="__right-side-links-desktop">
    <div class="__site-links-col-right-desktop">
        <div class="__site-mini-col-links-new">
            <span class="__links_title_nav_dp">shop by Style</span>
            <ul class="_links-list-right">
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/style_natural"
                        >Natural</a
                    >
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/style_mid-glam"
                        >Mid Glam</a
                    >
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/style_dramatic"
                        >Dramatic</a
                    >
                </li>
            </ul>
        </div>
        <div class="__site-mini-col-links-new">
            <span class="__links_title_nav_dp">shop by Color</span>
            <ul class="_links-list-right">
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/color_black">Black</a>
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/color_brown">Brown</a>
                </li>
                <li><a href="https://www.moxielash.com/collections/shop-all/color">Colored</a></li>
            </ul>
        </div>
        <div class="__site-mini-col-links-new">
            <span class="__links_title_nav_dp">shop by material</span>
            <ul class="_links-list-right left-align-new-tag__">
                <li>
                    <a href="https://www.moxielash.com/collections/bionic-silk">Bionic Silk</a
                    ><span style="margin-left: 10px" class="__silk-new-btn-pdp">NEW</span>
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/material_bionic-silk"
                        >Silk</a
                    >
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/material_mink">Mink</a>
                </li>
            </ul>
        </div>
        <div class="__site-mini-col-links-new">
            <span class="__links_title_nav_dp">shop by eye shape</span>
            <ul class="_links-list-right">
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/eyeshape_almond"
                        >Almond</a
                    >
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/eyeshape_round"
                        >Round</a
                    >
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/eyeshape_monolid"
                        >Monolid</a
                    >
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/eyeshape_hooded"
                        >Hooded</a
                    >
                </li>
                <li>
                    <a href="https://www.moxielash.com/collections/shop-all/eyeshape_deepset"
                        >Deepset</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
 