<div class="relative z-30 flex justify-between h-14 top-first-nav">
  <div class="flex">
    <a
      href="/"
      class="bg-black h-14 flex justify-center items-center px-5 py-2.5 moxielash-logo"
    >
      <img
        class="h-7"
        src="https://cdn.shopify.com/s/files/1/2569/3918/t/32/assets/logo-d_400x.png"
      />
    </a>
    <a
      href="https://www.lashies.com"
      target="_blank"
      class="flex justify-center items-center px-10 py-2.5 hover:bg-gray-200"
    >
      <img
        class="h-9"
        src="https://cdn.shopify.com/s/files/1/0404/7545/9743/t/3/assets/lashies_400x.png?v=7418584107355297534"
      />
      <img
        class="h-10 pl-3"
        src="https://cdn.shopify.com/s/files/1/2569/3918/files/Group_5.png?v=1619521293"
      />
    </a>
  </div> 
  <ul class="items-center justify-center hidden gap-5 mr-1 lg:flex ">
    <a>
      <img
        class="h-7 w-7"
        src="https://cdn.shopify.com/s/files/1/2569/3918/files/moxielash_insider_icon_036d6d99-1ec2-4466-8ecc-8083a36bedb6.png?v=1607084595"
      />
    </a>

    <div class="account-icon ">
      <svg
        width="16px"
        height="19px"
        viewBox="0 0 16 19"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g
          id="HEADER"
          stroke="black"
          stroke-width="0.5"
          fill="none"
          fill-rule="evenodd"
          transform="translate(-1394.000000, -16.000000)"
        >
          <g
            id="noun_1300443_cc"
            transform="translate(1394.000000, 16.000000)"
            fill="#FFFFFF"
            fill-rule="nonzero"
          >
            <g>
              <g>
                <path
                  d="M16,18.525 C16,18.7873352 15.7893104,19 15.5294118,19 C15.2695131,19 15.0588235,18.7873352 15.0588235,18.525 C15.0588235,14.5899712 11.8984806,11.4 8,11.4 C4.10151944,11.4 0.941176471,14.5899712 0.941176471,18.525 C0.941176471,18.7873352 0.730486918,19 0.470588235,19 C0.210689553,19 0,18.7873352 0,18.525 C0,14.0653007 3.58172202,10.45 8,10.45 C12.418278,10.45 16,14.0653007 16,18.525 Z M8,9.5 C5.40101294,9.5 3.29411765,7.37335256 3.29411765,4.75 C3.29411765,2.12664744 5.40101294,0 8,0 C10.5989871,0 12.7058824,2.12664744 12.7058824,4.75 C12.7058824,7.37335256 10.5989871,9.5 8,9.5 Z M8,8.55 C10.0791896,8.55 11.7647059,6.84868205 11.7647059,4.75 C11.7647059,2.65131795 10.0791896,0.95 8,0.95 C5.92081035,0.95 4.23529412,2.65131795 4.23529412,4.75 C4.23529412,6.84868205 5.92081035,8.55 8,8.55 Z"
                ></path>
              </g>
            </g>
          </g>
        </g>
      </svg>

      <div class="hover-menu">
        <a
          href="/account"
          class="login"
          onclick="MenuEvent('TOPBAR','','LOGIN','/account')"
          >LOGIN</a
        >
        <a
          href="/account/register"
          onclick="MenuEvent('TOPBAR','','SIGN UP','/account/register')"
          class="text-black register"
          >SIGN UP</a
        >
      </div>
    </div>
    <a href="/cart" class="main-cart-toggler toggleSideCart">
      <img
        class="cart-icon filter-inverse"
        src="https://cdn.shopify.com/s/files/1/2569/3918/files/cart-icon__2x_3dcc595e-13a9-4b00-be0a-a2155a979e0c.png?2686"
      />
      <span
        class="cash-color cart-count cartCount"
        style="color: #f7a28d; font-weight: bold"
      >
        {{ cart.item_count }}</span
      >
    </a>
  </ul>
</div>
