<div class="right-menu-icons">
    <ul class="flex items-center nav-ul">
        <li class="flex items-center navbar__search-item">
            <button
                onclick="MenuEvent('MAINMENU','','Search','')"
                class="minisearch-trigger hide-text"
                data-navbar-search-btn=""
            >
                <img
                    class="navbar__search-btn navbar__search-btn--open"
                    src="//cdn.shopify.com/s/files/1/2569/3918/t/32/assets/icon-search-new.png?v=15563998544006470539"
                    alt="Open Search Button"
                />
                <img
                    class="navbar__search-btn navbar__search-btn--close"
                    src="//cdn.shopify.com/s/files/1/2569/3918/t/32/assets/close-search.svg?v=5025548145663231462"
                    alt="Close Search Button"
                />
            </button>
            <div class="hidden full-width-search-wrapper as-mega-menu">
                <div class="w-full row">
                    <div class="center-form">
                        <form
                            class="search-form hide-labels"
                            action="/search"
                            method="get"
                            data-navbar-search-form=""
                            data-search-form=""
                        >
                            <label for="searchInput">Search</label>
                            <input type="hidden" name="type" value="product" />
                            <span
                                role="status"
                                aria-live="polite"
                                class="isp_polite_powered_by_id ui-helper-hidden-accessible"
                            ></span
                            ><input
                                type="search"
                                name="q"
                                value=""
                                placeholder="Search..."
                                id="searchInput"
                                data-search-input="desktop"
                                autocorrect="off"
                                autocapitalize="off"
                                aria-label="Search"
                                class="ui-autocomplete-input"
                                isp_ac="OfF"
                            />
                            <input type="submit" class="search--submit" value="Search" />
                        </form>
                    </div>
                    <div class="flex small-container">
                        <div class="w-2/6 search-item-section">
                            <h4>TOP SEARCH TERMS</h4>
                            <ul>
                                <li>
                                    <a href="/collections/magnetic-lashes">Magnet Lashes</a>
                                </li>
                                <li>
                                    <a href="/pages/moxielash-insider">Moxie Insider</a>
                                </li>
                                <!-- <li><a href="https://www.moxielash.com/search?type=product&q=cosmic+look">Cosmic Look</a></li> <li><a href="https://www.moxielash.com/search?type=product&q=bossy+lash">Bossy Lash</a></li> -->
                                <li>
                                    <a href="https://www.moxielash.com/collections/bionic-silk"
                                        >Bionic Silk</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.moxielash.com/search?type=product&amp;q=happy+lash"
                                        >Happy Lash</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="w-4/6 top-products-section">
                            <h4>TOP PRODUCTS</h4>
                            <div class="flex products-section">
                                <a
                                    href="/products/10-magnet-classy-lash"
                                    class="w-1/3 single-product-wrapper"
                                    data-dexter-handled="true"
                                >
                                    <img
                                        class="variant-image"
                                        src="//cdn.shopify.com/s/files/1/2569/3918/products/ClassyOverheadLash_10MAG_300x.jpg?v=1604613394"
                                        alt=""
                                    />
                                    <p class="product-title">Classy Lash</p>
                                    <p class="variant-price">$30.00</p></a
                                >
                                <a
                                    href="/products/sassy-lash-10-magnets"
                                    class="w-1/3 single-product-wrapper"
                                    data-dexter-handled="true"
                                >
                                    <img
                                        class="variant-image"
                                        src="//cdn.shopify.com/s/files/1/2569/3918/products/SassyOverheadLash_10MAG_db2335be-186e-4595-9e90-ae5b841ce284_300x.jpg?v=1605112942"
                                        alt=""
                                    />
                                    <p class="product-title">Sassy Lash</p>
                                    <p class="variant-price">$30.00</p></a
                                >
                                <a
                                    href="/products/wifey-lash-10-magnets"
                                    class="w-1/3 single-product-wrapper"
                                    data-dexter-handled="true"
                                >
                                    <img
                                        class="variant-image"
                                        src="//cdn.shopify.com/s/files/1/2569/3918/products/WifeyOverheadLash_10MAG_1_300x.jpg?v=1620315598"
                                        alt=""
                                    />
                                    <p class="product-title">Wifey Lash</p>
                                    <p class="variant-price">$30.00</p></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-account-icon default-hidden fixed-show">
            <span class="account-d" onclick="MenuEvent('MAINMENU','','account ','/account')">
                <a class="" href="/account/">
                    <svg
                        width="16px"
                        height="19px"
                        viewBox="0 0 16 19"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <g
                            id="HEADER"
                            stroke="black"
                            stroke-width="0.5"
                            fill="none"
                            fill-rule="evenodd"
                            transform="translate(-1394.000000, -16.000000)"
                        >
                            <g
                                id="noun_1300443_cc"
                                transform="translate(1394.000000, 16.000000)"
                                fill="#FFFFFF"
                                fill-rule="nonzero"
                            >
                                <g>
                                    <g>
                                        <path
                                            d="M16,18.525 C16,18.7873352 15.7893104,19 15.5294118,19 C15.2695131,19 15.0588235,18.7873352 15.0588235,18.525 C15.0588235,14.5899712 11.8984806,11.4 8,11.4 C4.10151944,11.4 0.941176471,14.5899712 0.941176471,18.525 C0.941176471,18.7873352 0.730486918,19 0.470588235,19 C0.210689553,19 0,18.7873352 0,18.525 C0,14.0653007 3.58172202,10.45 8,10.45 C12.418278,10.45 16,14.0653007 16,18.525 Z M8,9.5 C5.40101294,9.5 3.29411765,7.37335256 3.29411765,4.75 C3.29411765,2.12664744 5.40101294,0 8,0 C10.5989871,0 12.7058824,2.12664744 12.7058824,4.75 C12.7058824,7.37335256 10.5989871,9.5 8,9.5 Z M8,8.55 C10.0791896,8.55 11.7647059,6.84868205 11.7647059,4.75 C11.7647059,2.65131795 10.0791896,0.95 8,0.95 C5.92081035,0.95 4.23529412,2.65131795 4.23529412,4.75 C4.23529412,6.84868205 5.92081035,8.55 8,8.55 Z"
                                            style="fill: white; stroke: #a4a4a4"
                                        ></path>
                                    </g>
                                </g>
                            </g>
                        </g></svg
                ></a>
            </span>
        </li>
        <li class="icon-help-center">
            <a
                href="/pages/help-center"
                onclick="MenuEvent('MAINMENU','','help-center','/pages/help-center')"
                class="hide-text"
                style="
                    width: 19px;
                    display: flex;
                    align-items: center; /* margin-right: 20px; */ /* margin-left: 5px; */
                "
                ><img
                    src="https://cdn.shopify.com/s/files/1/2569/3918/t/32/assets/icon-help.svg"
                    alt="Help Center Icon"
                    style="filter: invert(1)"
            /></a>
        </li>
        <li class="icon-cart-icon default-hidden fixed-show">
            <span
                class="cart-t toggleSideCart pointer"
                onclick="MenuEvent('MAINMENU','','Cart','')"
                style="color: black"
            >
                <img
                    src="https://cdn.shopify.com/s/files/1/2569/3918/files/cart-icon__2x_3dcc595e-13a9-4b00-be0a-a2155a979e0c.png?2686"
                    class="minicart--open"
                    alt="Open Minicart"
                    style="position: relative; width: 20px; left: -8px"
                /><span
                    class="cash-color cart-count cartCount"
                    style="color: #f7a28d; font-weight: bold"
                    >{{ cart.item_count }}</span
                >
            </span>
        </li>
    </ul>
</div>
