<div class="moxie-mega-menu mega-menu-collections">
    <div class="mega-menu-wrapper">
        <div class="__collection-nav-inner-links">
            <a href="/collections/bionic-silk" class="__collection-card-main-wrapper-moxie"
                ><div class="__multi-collection-card-mobile">
                    <div class="__text-col-mobile-may-nav">
                        <div class="text-left-wrap-min">
                            <span>BIONIC SILK</span>
                            <p>Vegan & Cruelty-Free</p>
                        </div>
                    </div>
                    <div class="__image-col-mobile-may-nav">
                        <img
                            src="https://cdn.shopify.com/s/files/1/2569/3918/files/Bitmap_9bb9956c-dccb-4a5b-9a6d-63826533aa52.png?v=1621352693"
                            alt=""
                        />
                    </div></div
            ></a>
            <a href="/products/honey-kit-10-magnet" class="__collection-card-main-wrapper-moxie">
                <div class="__multi-collection-card-mobile">
                    <div class="__text-col-mobile-may-nav">
                        <div class="text-left-wrap-min align-center-mob-sec">
                            <span>HONEY KIT</span>
                            <p>Brown Lashes</p>
                        </div>
                    </div>
                    <div class="__image-col-mobile-may-nav">
                        <img
                            src="https://cdn.shopify.com/s/files/1/2569/3918/files/Bitmap23.png?v=1621352692"
                            alt=""
                        />
                    </div></div
            ></a>
            <a href="/collections/shop-all" class="__collection-card-main-wrapper-moxie">
                <div class="__multi-collection-card-mobile">
                    <div class="__text-col-mobile-may-nav">
                        <div class="text-left-wrap-min align-center-mob-sec">
                            <span>OG</span>
                            <p>Lash Favorites</p>
                        </div>
                    </div>
                    <div class="__image-col-mobile-may-nav">
                        <img
                            src="https://cdn.shopify.com/s/files/1/2569/3918/files/Bitmap22.png?v=1621352692"
                            alt=""
                        />
                    </div></div
            ></a>
            <a href="/collections/shop-all/color" class="__collection-card-main-wrapper-moxie">
                <div class="__multi-collection-card-mobile">
                    <div class="__text-col-mobile-may-nav">
                        <div class="text-left-wrap-min">
                            <span>Color Lashes</span>
                            <p>Bolder & Brighter</p>
                        </div>
                    </div>
                    <div class="__image-col-mobile-may-nav">
                        <img
                            src="https://cdn.shopify.com/s/files/1/2569/3918/files/colored-lashes.jpg?v=1621501441"
                            alt=""
                        />
                    </div></div
            ></a>
        </div>
    </div>
</div>
