<div class="social-tool-bar-wrapper">
  <div class="social-tool-bar">
    <div class="toolbar__item">
      <ul class="inline-list toolbar__social">
        <li>
          <a
            target="_blank"
            rel="noopener"
            href="http://www.instagram.com/moxielash"
            title="MoxieLash on Instagram"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-instagram"
              viewBox="0 0 32 32"
            >
              <path
                fill="#444"
                d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z"
              ></path>
              <path
                fill="#444"
                d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z"
              ></path>
            </svg>
            <span class="icon__fallback-text">Instagram</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            href="https://www.facebook.com/MOXIELASHCOM/"
            title="MoxieLash on Facebook"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-facebook"
              viewBox="0 0 32 32"
            >
              <path
                fill="#444"
                d="M18.56 31.36V17.28h4.48l.64-5.12h-5.12v-3.2c0-1.28.64-2.56 2.56-2.56h2.56V1.28H19.2c-3.84 0-7.04 2.56-7.04 7.04v3.84H7.68v5.12h4.48v14.08h6.4z"
              ></path>
            </svg>
            <span class="icon__fallback-text">Facebook</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            href="https://www.youtube.com/moxielash"
            title="MoxieLash on YouTube"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-youtube"
              viewBox="0 0 21 20"
            >
              <path
                fill="#444"
                d="M-.196 15.803q0 1.23.812 2.092t1.977.861h14.946q1.165 0 1.977-.861t.812-2.092V3.909q0-1.23-.82-2.116T17.539.907H2.593q-1.148 0-1.969.886t-.82 2.116v11.894zm7.465-2.149V6.058q0-.115.066-.18.049-.016.082-.016l.082.016 7.153 3.806q.066.066.066.164 0 .066-.066.131l-7.153 3.806q-.033.033-.066.033-.066 0-.098-.033-.066-.066-.066-.131z"
              ></path>
            </svg>
            <span class="icon__fallback-text">YouTube</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            href="https://twitter.com/moxielash"
            title="MoxieLash on Twitter"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-twitter"
              viewBox="0 0 32 32"
            >
              <path
                fill="#444"
                d="M31.281 6.733q-1.304 1.924-3.13 3.26 0 .13.033.408t.033.408q0 2.543-.75 5.086t-2.282 4.858-3.635 4.108-5.053 2.869-6.341 1.076q-5.282 0-9.65-2.836.913.065 1.5.065 4.401 0 7.857-2.673-2.054-.033-3.668-1.255t-2.266-3.146q.554.13 1.206.13.88 0 1.663-.261-2.184-.456-3.619-2.184t-1.435-3.977v-.065q1.239.652 2.836.717-1.271-.848-2.021-2.233t-.75-2.983q0-1.63.815-3.195 2.38 2.967 5.754 4.678t7.319 1.907q-.228-.815-.228-1.434 0-2.608 1.858-4.45t4.532-1.842q1.304 0 2.51.522t2.054 1.467q2.152-.424 4.01-1.532-.685 2.217-2.771 3.488 1.989-.261 3.619-.978z"
              ></path>
            </svg>
            <span class="icon__fallback-text">Twitter</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            href="https://www.pinterest.com/moxiebabes/"
            title="MoxieLash on Pinterest"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-pinterest"
              viewBox="0 0 32 32"
            >
              <path
                fill="#444"
                d="M27.52 9.6c-.64-5.76-6.4-8.32-12.8-7.68-4.48.64-9.6 4.48-9.6 10.24 0 3.2.64 5.76 3.84 6.4 1.28-2.56-.64-3.2-.64-4.48-1.28-7.04 8.32-12.16 13.44-7.04 3.2 3.84 1.28 14.08-4.48 13.44-5.12-1.28 2.56-9.6-1.92-11.52-3.2-1.28-5.12 4.48-3.84 7.04-1.28 4.48-3.2 8.96-1.92 15.36 2.56-1.92 3.84-5.76 4.48-9.6 1.28.64 1.92 1.92 3.84 1.92 6.4-.64 10.24-7.68 9.6-14.08z"
              ></path>
            </svg>
            <span class="icon__fallback-text">Pinterest</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener"
            href="https://www.tiktok.com/@moxielash"
            title="MoxieLash on TikTok"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-tiktok"
              viewBox="0 0 2859 3333"
            >
              <path
                d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z"
              ></path>
            </svg>
            <span class="icon__fallback-text">TikTok</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
