
  .toolbar__social {
    text-align: right;
    display: flex;
  }

  .toolbar__social a {
    display: block;
    padding: 5px;
  }

  .toolbar__social .icon {
    position: relative;
    top: -2px;
    width: 16px;
    height: 16px;
    fill: dimgrey;
  }

  .toolbar__social li {
    display: flex;
  }

  span.icon__fallback-text {
    display: none;
  }

  .social-tool-bar-wrapper .social-tool-bar {
   
    filter: invert(1);
    /* background: white; */
  }
 
.moxie-top-bar {
  background-color: #2d2d2d;
  .top-bar-wrapper {
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 14px;
      font-weight: 500;
    }
  }
 
  .social-tool-bar-wrapper .social-tool-bar {
    position: absolute; 
    top: 6px;
    right: 46px;
    filter: invert(1);
    /* background: white; */
  }
  @media (max-width: 990px) {
    .social-tool-bar-wrapper .social-tool-bar {
      display: none;
    }
  }
}
