<div class="relative bg-black moxie-top-bar moxie-futura">
  <div class="px-3 mx-auto max-w-7xl sm:px-6 lg:px-8 top-bar-wrapper">
    <div class="pr-16 sm:text-center sm:px-16">
      <a href="/collections/shop-all" style="color:white" tabindex="0"
        >25% OFF SITEWIDE WITH CODE: MDAY25</a
      >
    </div>
  </div>
  {% render 'social-icon-top'%}
</div>
